@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;4000;500;600;700;800;900&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
}

:root{
    --bg-color:#383939;
    --second-bg-color:#5d5f5f;
    --text-color:#fff;
    --main-color:#38c958;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height:100vh;
    padding: 10rem 9% 2rem;
}